@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <div style="float: left;">
            Toggle Mode: <a href="#" @onclick="MyApp.ToggleMode">@MyApp.CurrentMode</a>
        </div>
        <a href="https://github.com/ebekker/blazor-ag-grid" target="_blank" class="ml-md-auto">About BlazorAgGrid</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
