<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Example2</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata-inline">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch (inline)
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata-inlinevar">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch (inline variable)
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata-memoryds">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch (memory DS)
            </NavLink>
        </li>
        <li class="nav-item px-3" hidden="@(MyApp.CurrentMode != App.Enterprise)">
            <NavLink class="nav-link" href="fetchdata-treememoryds">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch Tree (memory DS)
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata-fetchds">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch (fetch DS)
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata-multids">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch (multi DS)
            </NavLink>
        </li>
    </ul>
</div>

@code {
    [CascadingParameter] public App MyApp { get; set; }

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
